.avatar {
	max-width: 3em;
	margin-left: auto;
}

.avatarContainer {
	width: 75px;
	display: inline-block;
}

.commentContainer {
	vertical-align: top;
	width: 100%;
}

.commentTable {
	width: 100%;
	margin-bottom: 10px;
}

.completed {
	background-color: #5cb85c;
	color: white !important;
}